<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutak dobre hrane</title>
</head>

<body>
    <div class="login-container">
        <form>
            <div class="title-header"> Korisnicki podaci </div>
            <div class="login-info">
                <div class="input-field">
                    <label for="username"> Korisnicko ime: </label>
                    <input type="text" id="username" placeholder="korisnik123"> <br>
                    <span class="detail"> Mora biti izmedju 3 i 10 karaktera.</span>
                </div>

                <div class="input-field">
                    <label for="password"> Lozinka </label>
                    <input type="password" id="password"> <br>
                    <span class="detail"> Mora biti izmedju 3 i 10 karaktera.</span>
                </div>
                <div class="input-field">
                    <label for="question"> Bezbednosno pitanje </label>
                    <input type="text" id="question" placeholder="Koje je ime mog prvog kucnog ljubimca?"> <br>
                </div>
                <div class="input-field">
                    <label for="answer"> Odgovor </label>
                    <input type="text" id="answer" placeholder="Sapica"> <br>
                </div>
            </div>

            <div class="title-header">Licni podaci</div>
            <div class="personal-info">
                <div class="input-field">
                    <label for="name"> Ime: </label>
                    <input type="text" id="name"> <br>
                </div>

                <div class="input-field">
                    <label for="lastname"> Prezime: </label>
                    <input type="text" id="lastname"> <br>
                </div>
            </div>
            <div class="input-field">
                <div class="gender-info">
                    <div class="title-head">Pol:</div><br>
                    <input type="radio" name="gender" value="musko" id="m">
                    <label for="m">Musko </label>

                    <input type="radio" name="gender" value="zensko" id="z">
                    <label for="z">Zensko </label>

                    <input type="radio" name="gender" value="evrovizijski izvodjac" id="e">
                    <label for="e">Evrovizijski izvodjac </label>
                </div>
            </div>

            <div class="title-header"> Kontakt informacije </div>
            <div class="payment-info">

                <div class="input-field">
                    <label for="email"> Email: </label>
                    <input type="text" id="email"> <br>
                </div>

                <div class="input-field">
                    <label for="phone"> Broj telefona: </label>
                    <input type="text" id="phone"> <br>
                </div>

                <div class="input-field">
                    <label for="phone"> Adresa: </label>
                    <input type="text" id="phone"> <br>
                </div>

                <div class="input-field">
                    <label for="phone"> Broj kreditne kartice: </label>
                    <input type="text" id="phone"> <br>
                </div>

            </div>

        </form>
    </div>

</body>

</html>